.idea/
/.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
p2p_chat_server/schemas

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
/p2p_chat_server/schemas
/.vscode

*.xcconfig
*Podfile